
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    
    <title>Template Title</title>
    
<!-- loading the css -->
 <link href="static/css/bootstrap.css" rel="stylesheet">
 <link href="static/css/custom-style.css" rel="stylesheet">

<!--import font to use -->
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
 <body>
  <!-- Navigation Bar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Automatic Collector</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/"><span class="glyphicon glyphicon-home"> Home</span></a></li>
                    <li class="active"><a href="about"><span class="glyphicon glyphicon-pencil"></span> About</a></li>
                    <li><a href="contact"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                 </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

   

 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Information on Tax Assistants in the UK<br/>
                    <small>minor text on what the app is all about</small>
                </h1>
              
            </div>
             <!-- /.cols -->
        </div>
       <!-- /.row-->
      </div>
      <!-- /.container -->

    
 </body>
</html>
